*.pdf
*.php_*
*.sql
*.sql.gz
*.csv
*.bkp
*.tar
*.tgz
var/cache
var/logs
var/sessions
data/*
*#
*~
tests_fonctionnels/sql/*
web/tmp/*
src/cache/*

/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/web/bundles/
banniere.png

altermeso

