{# app/Resources/views/default/nouveau_profil.html.twig #}
{% extends 'default/base.html.twig' %}


{# ################################################################################################### #}

 

{# ################################################################################################### #}

{% block body %}

<section>
<h2>Vos accès à la plateforme d'attribution des ressources</h2>



<div class="message info">

    Votre demande d'ouverture de compte a été effectuée. Vous allez recevoir un email d'activation.

</div>




{% endblock body %}

