{% extends 'default/base.html.twig' %}

{% import "default/macros.html.twig" as gramcmacros %} 

       
{# ######################################################################### #}

{% block body %}
<section>
	{{ info|raw }}
</section>
{% endblock body %}
