{% extends 'default/base.html.twig' %}

{% import "default/macros.html.twig" as gramcmacros %}

{% block body %} 
<section>

<h1>La page du président</h1>

{{ gramcmacros.menu(menu) }}

</section>
<br> 
{% endblock %}
