{% extends 'default/base.html.twig' %}

{% block body %}

<section>
    <div class="message info">
        <h2>C'est fait !</h2>
            Votre demande de rallonge pour le projet {{ projet }} (session {{session}}) a bien été envoyée pour expertise.<br>
            Vous allez recevoir un courriel de confirmation.<br>Merci de votre intérêt pour <strong>{{mesoc}}</strong>
    </div>
    <nav>
        <ul>
            <li>
                <a class="lien_actif" href="{{ path('projet_accueil') }}" title="retourner à la page d'accueil">RETOUR</a>
            </li>
        </ul>
    </nav>
</section>    


{% endblock %}
