{% extends 'default/base.html.twig' %}

{% block body %}

    <section>
        <h2>Projet {{ version.projet }}, session {{ version.session }}: Complétez votre demande</h2>
        <p>version = {{version}} {{message}}</p>

    </section>


{% endblock %}
