{# {{ form_start(form) }} #}

{% spaceless %}
    <tr>
    {% for item in form %}
        <td class="collection-tbody-new">
        {{ form_widget(item, { 'attr': { 'class': 'collection-tbody-new' }}) }} 
         {# {{ form_widget(item) }} #}
        </td>
    {% endfor %}
    </tr>
{% endspaceless %}

{#  {{ form_end(form) }} #}





