{% extends 'default/base.html.twig' %}

{% block body %}

<section>
    <h2>Confirmation d'envoi de rapport d'activité</h2>

   <div class="message info">Votre rapport d'activité a bien été envoyé.<!-- br-->
   {{mesoc}} vous en remercie</div>

   <nav>
        <ul>
            <li><a class="lien_actif" href="{{ path('consulter_version', { 'id' : projet, 'version' : version } ) }}" title="">Retourner au projet</a></li>
        </ul>
    </nav>
</section>

{% endblock %}
