{% extends 'default/base.html.twig' %}

{% block body %}
<section>
    <h2> C'est fait ! </h2>
    <div class="message info">Votre projet {{ projet }} (session {{ session }}) a bien été envoyé pour expertise.
    <br>Vous allez recevoir un courriel de confirmation.<br>Merci de votre intérêt pour <strong>{{mesoc}}</strong>
    </div>
</section>
{% endblock body %}
